
.mobile_show{
	display:none;
}
@media only screen and (max-width:1250px){
.container {
width: 100%;
padding-left: 2%;
padding-right: 2%;
}
.width-35 {
width: auto;
}

.mgtop-8 {
margin-top:30px!important;
}

.bout_p1{
padding-top: 100px;
}

header img{
width:100%;
}
#features .features_wraper{
min-height: 170px;
max-height: 170px;
}

#abouts{
background-size: 120% 100%;
}

}


@media only screen and (max-width:1100px){
.container {
width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.hero_img{
width:100%;
}

.shape33 , .shape11{
display:none;
}
}



@media (max-width:1080px) {

#membership .container {
max-width: 100%;
}

#faq .row .col:last-child {
margin-right: 0;
}
.membership_sections{
margin-bottom: 2em;
}

.navbar-default .navbar-nav > li > a
{
padding: 30px 10px;
font-size: 16px;
font-weight: 500;
}

.footer_content{
margin-top:0;
}

.join_section::before , .join_section {
width:100%;
}
.timeline .block{
min-height: auto;
margin-bottom: 20px;
}

.about_right_contnet{
left: 0;
}

.benefits_lefts ul li{
width: 100%;
}
.timeline .block , .second_icons .block{
border: none;
}
.round_cont{
display: none;
}
.aboutsp{
padding-right: 0
}
.product_content {
width: 100%;
}

.product_content .text-left {
padding-left: 15px;
}
}


@media only screen and (max-width:992px){	
.mobile_no {
	display:none;
}

.mobile_show{
	display:block;
}

.side_bar_img {
  padding: 0px;
  margin-top: 15px;
}

header{
background-image:none;	
}
.footer_content ul{
	margin-bottom: 0;
margin-top: 0;
}
.side_bar_img ul li img{
	width: auto;
max-width: 250px;
}
footer ul li{
padding: 50px 10px 0px 0px;	
}

.contact_socials {
  width: 100%;
  margin: auto;
}
	header img {
  width: 70%;
  margin-top: 2em;
	}
	
.main_header{
margin-top: 5em;
}
	
#faq {
padding:50px 15px;
}

footer h3{
margin-top: 15px
}
.team_2 {
width: 100%;
margin: auto;
}
}

@media only screen and (max-width:810px){	
.navbar-default .navbar-nav > li > a
{
padding: 18px 10px;
}
#team{
padding: 36px 0;
}
}

@media only screen and (max-width:768px){	

.navbar-default .navbar-nav > li > a{
padding: 14px 15px !important;
}

footer ul li{
	padding:10px 0px 0px 0;
}

.side_bar_img ul li img{
	max-width: 100%;
}

.footer_content ul{
	display: block;
text-align: left;
margin-bottom: 0;
float: left;
margin-top: 0;
}

.navbar-nav{
	padding-right: 3%;
}	

.tabcontent{
	margin-top: 1em;
}
	
.s_ul{
	padding-left: 0;
padding-right: 0;
margin-top: 1em;
}

.bout_p1 p{
	font-size: 15px;
line-height: 24px;
}

.descriptions h3 {
	font-size: 18px;
}

.section_title h3{
	font-size: 17px;
}

.navbar-toggler {
	display:block;
}
.discord_btn {
float: left;
position: relative;
top: 0;
margin-top: 1em;
margin-bottom: 2em;
}
#membership h2, #testimonials h2 , #faq h2{
font-size: 30px;
font-weight: 500;
}

.main_header p{
margin-top: 20px;
margin-bottom: 20px;
font-size: 17px;
font-weight: 500;
}

.footer_content img {
height: 100px;
margin-bottom:10px;
}

.footer_content h2{
font-size: 30px;
}

.logo{
margin-top:-3px;
}

#waitlist .container{
width:100%;	
}

#about .section_title  img , .pdtop3 img{
width:100%;
}
.join_section{
margin-bottom: 5em;
}
#features h2{
font-size: 30px;
}

.join_section h1{
font-size: 23px;
line-height: 30px;
}
.about_text h2{
	line-height: 40px;
	font-size: 30px;
}
.fgg{
padding-top: 1em;
}
.checouts h2{
	font-size: 6.5rem !important;
}
.social_icons{
	display: block !important
}

.social_icons li {
  width: 100%;
  margin-right: 0;
}

.footer_content {
margin-top:2em;
}

.main_header h2{
color: #fff;
font-size: 25px;
font-weight: bold;
line-height: 32px;
text-transform: none;
}

header{
min-height:auto;
height:auto;
}

.join_waitlist {
margin-top: 0em;
padding: 0px 15px;
}


#features .features_wraper{
padding:30px;
}
.about_us_s{
width: 100%;
padding: 20px;
}

.about_us_s h2 {
font-size: 35px;
}

footer{
padding: 50px 15px 50px;
}

.mob_displ11{
display:block;
}
.second_icons .block{
left:-13px;
}
.product_content .text-right{
padding-right: 15px;
}
#about {
margin-top: 0;
padding-left: 12px;
padding-right: 15px;
}

.timeline{
margin: 0;
padding: 0;
}

.text-right h2 , #product .text-center p{
text-align: left !important;
}

.timeline .block , .img_product {
text-align: left;
}
.mob_dis_2 {
display:none;
}

.icons .icc
{
margin-bottom: 10px;	 
}
 
.container {
width: 100%;
padding-left: 2%;
padding-right: 2%;
}

.main_header{
z-index:9;	
margin-top: 3em;
}

p{
font-size: 15px;
}

.ab_img img{
width: 100%;
margin-bottom: 15px;
}

#about h2{
font-size: 35px;
}
.navbar-default
{
background-color: #050513;
padding-left: 10px;
padding-right: 5px;
}

.main_header img {
width: 100%;
}

.main_header{
width:100%;
}
 
.collapse  .right {
  float: left;
}

.collapse {
display: none;
position: absolute;
width: 100%;
background-color:#050513;
top: 50px;
padding-bottom: 15px;
z-index: 9999999999;
left:0;
}
footer ul li{
	font-size:15px;
}
nav .connect_btn{
margin: 0;
width: 200px;
padding: 15px 1px !important;
text-align: center;
}

.navbar-right{
margin-bottom: 10px;
}

.ui-state-default{
font-size:16px !important;
}

}

@media only screen and (max-width:550px){
	.footer_content ul
	{
	display: block;
	text-align: left;
}
.footer_content{
	display: block !important;
}

footer ul li{
	line-height: 30px;
	border-right: none;
}
header img {
  width: 80%;
}

#features .features_wraper {
  max-height: 100%;
}
#abouts {
  background-size: auto auto;
}
.main_header{
	text-align:center;
}

.main_header p{
	text-align: center;	
	padding-right: 0;
}
}

@media only screen and (max-width:550px){
.right_features {
  width: 100%;
  text-align: center;
  padding-left: 0;
}
.left_features {
  width: 100%;
}

.features_wraper {
	display:block !important;
}
}




